.app {
    --color-white: #fff;
    --color-black: #222;
    --color-accent: #b90000;

    --color-gray: rgb(102, 102, 102);
    --color-gray-opaque: rgba(102, 102, 102, 0.3);

    display: flex;
    flex-direction: column;
    position: relative;

    color: var(--color-black);
}
