.search-result-list {}

.search-result-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.search-result-list__item:hover {
    background-color: var(--color-gray-opaque);
    color: var(--color-accent);
}

.search-result-item {
    padding: 0.5em;
    cursor: default;
}

.search-result-item__text {
    flex: 1;
    margin-left: 0.5em;
}
