.search-bar {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-gray);
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
}

.search-bar__button {
    box-sizing: border-box;
    margin: 0;
    flex: 0;

    border: none;

    background-color: var(--color-accent);
    color: var(--color-white);
}

.search-bar__input {
    box-sizing: border-box;
    flex: 1;
    border: none;
    padding: 0.5em 1em
}
